.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  /* Softer gradient */
  background: linear-gradient(135deg, #eef2ff, #e0e7ff, #f8fafc);

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Card */

.login-card {
  width: 380px;
  padding: 40px;

  background: white;
  border-radius: 12px;

  box-shadow: 0 15px 35px rgba(0,0,0,0.08);

  color: #111827;
}

/* Title */

.login-title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 25px;
}

/* Inputs */

.login-input {
  width: 100%;
  padding: 12px;

  margin-bottom: 16px;

  border: 1px solid #e5e7eb;
  border-radius: 6px;

  font-size: 14px;
  outline: none;

  transition: border 0.2s;
}

.login-input:focus {
  border-color: #6366f1;
}

/* Button */

.login-button {
  width: 100%;
  padding: 12px;

  border: none;
  border-radius: 6px;

  background: #4f46e5;
  color: white;

  font-weight: 600;
  cursor: pointer;

  transition: all 0.2s ease;
}

.login-button:hover {
  background: #4338ca;
}

/* Footer */

.login-footer {
  text-align: center;
  margin-top: 18px;
  font-size: 14px;
}

.login-footer a {
  color: #4f46e5;
  text-decoration: none;
  font-weight: 500;
}

.login-footer a:hover {
  text-decoration: underline;
}